<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/image.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Detection</title>
</head>
<body>
    <div class="container">
        <header>
            <u><h1>Image Detected</h1></u>
        </header>
        <div class="image-container">
            <img src="/static/images/Forest_Fire.jpg" alt="Forest Fire Detected">
        </div>
    </div>
</body>
</html>

