<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigger Page</title>
    <link rel="stylesheet" href="static/css/trigger-page.css">
</head>
<body>
    <!-- Add the modal HTML code here -->
    <div class="nova-modal">
        <div class="nova-alert">
            <div class="nova-icon">
                <svg class="circular yellow-stroke">
                    <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10"/>
                </svg>
                <svg class="alert-sign yellow-stroke">
                    <g transform="matrix(1,0,0,1,-615.516,-257.346)">
                        <g transform="matrix(0.56541,-0.56541,0.56541,0.56541,93.7153,495.69)">
                            <path class="line" d="M634.087,300.805L673.361,261.53" fill="none"/>
                        </g>
                        <g transform="matrix(2.27612,-2.46519e-32,0,2.27612,-792.339,-404.147)">
                            <circle class="dot" cx="621.52" cy="316.126" r="1.318" />
                        </g>
                    </g>
                </svg>
            </div>
            
            <h3 class="nova-title">Alert !!</h3>
            <p class="nova-text">Ecolog_1 got triggered. Fire Detected!</p>
            <div class="nova-btns">
              
                <a class="accept" onclick="accept()">Go To Live Page</a>
            </div>
            <a class="dismissButton">X</a>
        </div>
    </div>
    
    <!-- Include your JavaScript file -->
    <script src="static/js/trigger-page.js"></script>
</body>
</html>
