body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.center-align {
    text-align: center;
    color: #333;
}
#map {
    height: 400px;
    width: 100%;
    clear: both;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
}
#forestData {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #444;
}
p {
    color: #666;
}
.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
