@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* Remove the background-color property */
  /* background-color: #000; */
  background: linear-gradient(to right, #3d709a, #0c0c14); /* Add gradient colors */
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  /* Remove backdrop-filter properties */
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(9px);
  /* background-color: rgba(0, 0, 0, 0.8); Set a background color with less transparency */
  background-color: #dce5fd;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #17293a;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #17293a;
  margin: 15px 0;
  display: flex;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #17293a;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.input-field .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right spacing as needed */
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  font-size: 1.2rem; /* Adjust the font size as needed */
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #000;
}

#remember {
  accent-color: #17293a;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #000;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #17293a;
  color: #fff;
  font-weight: 600;
  border-width: 1px;
  border-color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid;
  transition: 0.3s ease;
}

button:hover {
  color: #17293a;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #000;
}