body {
    font-family: Arial, sans-serif;
    background-color: #4bffe4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}